<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-6 offset-3">
    <h1 style="color: blueviolet; text-align: center">
      Deep thought API <button><a href="/api/techs">API</a></button>
    </h1>
  </div>
</div>
