<% layout("layouts/boilerplate") %>

<form action="/api/techs" method="post">
    <label for="techStack">Tech:</label>
    <input type="text" id="techStack" name="techStack" placeholder="tech name..." required>
    <button>Submit</button>
</form>



